/* 通用 */
* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color:#666;
    margin:0px;
    padding:0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* 整体布局 */
#top {
    width: 100%;
    height: 30px;
    background: #F1F1F1;
    line-height: 30px;
}

#top-box,#top-main,#nav,#banner,#main,#foot-box,#footer {
    width: 1210px;
    margin: 0 auto;
}

.rt {
    float: right;
}

.lf {
    float: left;
}

.clear {
    clear: both;
}

#top-box {
    height: 30px;
    font-size: 12px;
    color: #666;
    background: #F1F1F1;
}

#top-main {
    height:100px;
    padding:15px 0;
}

#nav {
    height:40px;
}
#foot-box {
    height:173px;
}
#footer {
    height:180px;
}

/* 顶部左侧address */
.address {
    float: left;
    cursor: pointer;
    z-index: 999;
    position: relative;
}

.address-visible {
    padding: 0 10px;
    width: 64px;
}

.address-all {
    left: -1px;
    width: 230px;
    height: 56px;
    border: 1px solid #F1F1F1;
    border-top: none;
    padding: 6px 0;
    display: none;
    background-color: #fff;
    position: absolute;
}

.address-all .item {
    float: left;
    width: 32px;
    margin: 0 7px;
    padding: 2px 0;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
}

.address-all .item:hover {
    color: #e4393c;
    background-color: #F1F1F1;
}

/* 顶部右侧菜单 */
#top-box ul li {
    float: left;
    text-align: center;
    position: relative;
}

#top-box ul li b {
    height: 12px;
    border-left: 1px solid #ddd;
    margin: 0 5px;
}

#top-box ul li a {
    color: #666;
    cursor: pointer;
}

#top-box ul li a:hover {
    color: #FE3B00;
}

/* 顶部右侧手机京东 */
li.shouji a {
    background: url(../images/jd/shoujiicon.png)  0 -2px no-repeat;
    padding-left: 20px;
}

#shouji-items {
    position: absolute;
    left: 6px;
    width: 250px;
    height: 195px;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    background: url(../images/jd/shouji.png);
    display: none;
    z-index: 999;
}

/* 顶部右侧服务 */
li.service:hover {
    background: url(../images/jd/service-bg.png) 7px 0px no-repeat;
}

#service-items {
    position: absolute;
    border: 1px solid #ddd;
    border-top: none;
    left: 6px;
    display: none;
    padding-left: 2px;
}

/* 搜索框 */
#top-main img {
    padding-top: 10px;
}

#search-box {
    width: 500px;
    height: 75px;
    margin-left: 50px;
    margin-top: 10px;
}

.search {
    width: 494px;
    height: 30px;
    border-width: 3px;
    border-color: #E4393C;
    border-style: solid;
    position: relative;
}

input:focus {
    outline:medium;
}

input.text {
    width: 419px;
    height: 25px;
    padding: 2.5px;
    line-height: 25px;
    color: #999;
    float: left;
    border: none;
    font-size: 15px;
    text-indent: 2px;
}
input.button {
    width: 70px;
    background: #E4393C;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    height: 30px;
    cursor: pointer;
    float: left;
    text-align: center;
    border: none;
    float: right;
}

.hot-words {
    height: 20px;
    line-height: 20px;
    padding-top: 5px;
}

.hot-words a {
    font-size: 12px;
    color: #666;
}

.hot-words a:hover {
    color: #cd5e45;
}

/* 购物车 */
#cart {
    margin-top: 10px;
    height: 36px;
    margin-left: 60px;
}

#cart a {
    color: #666;
    font-size: 12px;
}

#cart a:hover {
    color: #FE3B00;
}

#cart .cw-icon {
    background: #f9f9f9 none repeat 0 0;
    border: 1px solid #dfdfdf;
    height: 34px;
    line-height: 34px;
    padding: 0 28px 0 36px;
    text-align: center;
    width: 85px;
    position: relative;
}

.cw-icon .i, .cw-icon i {
    display: block;
    overflow: hidden;
    position: absolute;
}

#cart .ci-left {
    background: url(../images/jd/shoujiicon.png) no-repeat scroll 0 -58px;
    height: 16px;
    left: 18px;
    top: 9px;
    width: 18px;
}

#cart .ci-right {
    color: #000;
    height: 13px;
    overflow: hidden;
    right: 10px;
    top: 11px;
    width: 7px;
    font: 400 13px/13px 宋体;
}

#cart .ci-count {
    color: #fff;
    background-color: #c81623;
    left: 108px;
    border-radius: 7px 7px 7px 0;
    top: -4px;
    line-height: 12px;
    font-size: 12px;
    text-align: left;
    width: 14px;
    padding: 2px 1px 1px 3px;
}

.down {
    width: 230px;
    height: 67px;
    display: none;
}

.down .cart-img {
    padding-left: 15px;
    float: left;
}

.down .cart-none {
    float: left;
    color: #999;
    font-size: 12px;
    padding-top: 25px;
}

.hover1 {
    background: #fff  !important;
    border: 1px solid #ddd  !important;
    border-bottom: none  !important;
}

.hover2 {
    background-color: #fff  !important;
    border: 1px solid #ddd  !important;
}

/* nav部分 */
nav {
    width:1210px;
    height:40px;
    margin: 10px auto;
}

#category {
    width:210px;
    float:left;
    background: #CD2A2C;
    position:absolute;
    cursor: pointer;
}

#cate-box {
    position:relative;
}

.sep {
    width: 100%;
    border-bottom: 2px solid #CD2A2C;
    height: 0;
}

#category>a{
    display: inline-block;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    color: #fff;
    font-size:14px;
    text-decoration:none;
}

#category>b {
    width:20px;
    height: 20px;
    background-image:url(../images/jd/icons.png);
    background-position: -65px 0;
    background-repeat:no-repeat;
    float:right;
    margin-top:10px;
    margin-right:5px;
}

#nav-items{
    float:left;
    margin-left:210px;
}

#nav-items li {
    float:left;
    width:83px;
    height:40px;
}

#nav-items li a {
    display:block;
    height:40px;
    width: 85px;
    text-align: center;
    color: #333;
    font-size:15px;
    text-decoration: none;
    line-height:40px;
}

#nav-items li a:hover {
    color:#BD2A2C;
}

#cate-box{
    display: none;
    position: absolute;
    width: 203px;
    height: 402px;
    padding: 4px 6px 3px 0;
    background: #FAFAFA;
    border:1px solid #E4393C;
    border-top-width: 0px;
    overflow: visible;
    z-index:100;
}

#cate-box>li {
    width:190px;
    height:28px;
    border-bottom: 1px solid #FFF;
}

#cate-box li h3 {
    margin:0px;
    padding:0px 0px 0px 13px;
    font-size:14px;
    width: 186px;
    height: 28px;
    line-height: 28px;
    font-weight: 400;
}

#cate-box li h3:hover,#cate-box li h3.hover {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
    background-color:#fff;
    position:relative;
    z-index:80;
}

#cate-box h3>a {
    color:#333;
    text-decoration:none;
}
/* 弹出菜单 */
#cate-box {
    position:relative;
}

.sub-cate-box {
    display:none;
    position: absolute;
    left: 198px;
    top: 2px;
    width: 705px;
    border: 1px solid #DDD;
    background: #fff;
    overflow: visible;
    box-shadow: 0 0 10px #DDD;
    z-index:70;
    height:350px;
    padding:5px;
}
.sub-cate-items {
    float:left;
    height:350px;
    font-size: 12px;
}

.sub-cate-banner {
    width:200px;
    float:right;
    padding:10px;
}
div.close {
    position: absolute;
    top: -1px;
    left: 715px;
    z-index: 2;
    width: 26px;
    height: 26px;
    background: #555;
    text-align: center;
    line-height: 26px;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
}

/* nav弹出二级菜单 */
.sub-cate-items>div {
    clear:left;
    padding:0px;
    margin:0px 0px 10px 10px;
    width:470px;
    border-bottom:1px solid #EEE;
}
.sub-cate-items>div>a {
    display:block;
    float:left;
    width:54px;
    height:22px;
    line-height: 22px;
    text-align: right;
    padding: 3px 8px 0 0px;
    color: #E4393C;
    text-decoration: underline;
    font-weight:700;
}
.sub-cate-items p {
    width:400px;
    line-height:22px;
    float:left;
    margin:0px;
}
.sub-cate-items p a {
    height:22px;
    line-height: 22px;
    text-align: right;
    padding: 0px 8px 0 0px;
    display:inline-block;
    padding: 0 4px;
    margin: 4px 0;
    border-left: 1px solid #ccc;
    color:#666;
    text-decoration:none;
}
.sub-cate-items p a:hover {
    color:red;
    text-decoration:none;
}

.sub-cate-banner>div {
    width:100%;
    margin-bottom:5px;
}
.sub-cate-banner h4 {
    padding: 3px 6px 0 0;
    font-weight: 700;
    color: #E4393C;
}
.sub-cate-banner li {
    width: 194px;
    float:left;
    padding:3px 0px;
}
.sub-cate-banner li a {
    color:#666;
    text-decoration:none;
}
.sub-cate-banner li a:hover {
    text-decoration:none;
}

/* 商品分类 */
#main {
    overflow: hidden;
}

.product-breed {
    height: 20px;
    padding: 0 0 4px 6px;
    margin: 10px 2px;
    overflow: hidden;
    line-height: 20px;
    color: #666;
}

.product-breed a {
    padding-right: 3px;
    font-size: 12px;
    color: #666;
}

.product-breed a:hover {
    color: #E4393C;
}

.product-breed b {
    font-weight: 700;
    line-height: 20px;
    font-size: 18px;
}

.product-breed span {
    padding: 0 2px;
}

/* 商品简介图片部分 */
#product-intro {
    position:relative;
    padding-left:370px;
    height:474px;
    min-height: 474px;
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 352px;
}
#preview>#medium
{
    width: 350px;
    height: 350px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    text-align:center;
    position: relative;
}
#preview>#medium img
{
    vertical-align:middle;
    width:350px;
    height:350px;
}
#preview>#medium>#mask{
    position: absolute;
    width: 175px;
    height: 175px;
    background: #ffa;
    opacity: 0.5;
    top: 0;
    left: 0;
    display:none;
}
#preview>#medium>#superMask{
    position: absolute;
    width: 350px;
    height: 350px;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: move;
}
#preview>#largeDiv{
    position: absolute;
    width: 400px;
    height: 400px;
    background: #fff;
    border: 1px solid #ddd;
    top: 0;
    left: 355px;
    z-index: 999;
    display: none;
}
#preview h1
{
    width: 352px;
    height: 54px;
    overflow:hidden;
    padding: 0px;
    position:relative;
}

#preview #intro-small {
    height: 54px;
    position:absolute;
    left: 0px;
    top: 0px;
}
#preview #intro-small li {
    width: 62px;
    text-align: center;
    float: left;
}
#preview #intro-small li img {
    width: 50px;
    height: 50px;
    padding: 1px;
    border: 1px solid #CECFCE;
}
#preview #intro-small li img:hover {
    border: 2px solid #e4393c;
    padding: 0;
}

/* 商品简介右侧文字部分 */
#product-intro>h1 {
    width:840px;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
#product-intro>h1>b {
    display: block;
    color: #e4393c;
    font-size: 15px;
    margin-top: 10px;
    font-weight: normal;
}

#product-intro #summary_price #price {
    color: #999;
}

#product-intro #summary_price #price  #ex-price{
    text-decoration: line-through;
}

#summary {
    width: 600px;
    padding: 10px 0;
}
#summary li {
    padding: 6px 0;
    height:30px;
}
#summary a {
    color: #005aa0;
}
#summary li>p {
    width:72px;
    float: left;
    text-align:right;
    height:23px;
    line-height:23px;
}
#summary li  div.content {
    width:524px;
    float: left;
    min-height:23px;
    line-height:23px;
}
#summary_price b {
    color: #e4393c;
    font-size: 18px;
    font-weight: bold;
}
#summary_grade span {
    margin: 1px 5px 0 0;
    background-position: -109px -239px;
    display: inline-block;
    width: 75px;
    height: 14px;
    background-image: url(../images/jd/icons2.png);
    background-repeat: no-repeat;
}


/*配送至*/
#store_select {
    position: relative;
    height: 26px;
    margin-right: 6px;
    float:left;
}
#store_select>h3 {
    position:relative;
    height: 23px;
    background: #fff;
    border: 1px solid #CECBCE;
    padding: 0 20px 0 4px;
    line-height: 23px;
    overflow: hidden;
    z-index:30;
    font-weight:normal;
    font-size:12px;
}
/*当鼠标悬停，显示弹出框时，遮挡下边框*/
#store_select>h3:hover {
    border-bottom:2px solid #fff;
}
#store_select>h3>b {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 24px;
    background-position: -264px -188px;
    background-image: url(../images/jd/icons2.png);
    background-repeat: no-repeat;
}

/*服务*/
#summary_service a {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

/*选择购买*/
#choose {
    width: 598px;
    border-top: 1px dotted #ddd;
    padding-top: 10px;
    margin-bottom: 20px;
}
#choose>li>p {
    width:72px;
    float: left;
    text-align:right;
    height:23px;
    line-height:23px;
}
#choose_color a {
    position:relative;
    float:left;
    margin: 2px 8px 2px 0;
    padding:1px 6px 1px 1px;
    border: 1px solid #ccc;
}
#choose_color a.selected {
    padding:0px 5px 0px 0px;
    border: 2px solid #e4393c;
}
#choose_color a img {
    vertical-align:middle;
}
#choose_color a.selected b {
    display:block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-image: url(../images/jd/icons2.png);
    background-repeat: no-repeat;
    background-position: -202px -224px;
}

/*购买数量*/
#choose_amount {
    clear:both;
    padding-top:10px;
}
#choose_amount a.btn_reduce,#choose_amount a.btn_add {
    background-position: -216px -190px;
    float:left;
    background-image: url(../images/jd/icons2.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin-top:5px;
}
#choose_amount a.btn_add {
    float:left;
    background-position: -232px -190px;
}
#choose_amount input {
    width: 30px;
    height: 16px;
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center;
    float:left;
    margin:0px 3px;
}
/*加入购物车*/
#choose_btns a {
    height: 38px;
    line-height: 38px;
    float: left;
    margin:10px 6px 0px 13px;
}
a.choose_btn_append {
    width: 137px;
    background-image: url(../images/jd/icons3.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}


/* 送货地址的下拉选择框 */
#store_content {
    display:none;
    position: absolute;
    top: 25px;
    left: -45px;
    border: 1px solid #CECBCE;
    width: 390px;
    padding: 15px;
    background: #fff;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
    z-index:20;
}
#store_close {
    display:none;
    position: absolute;
    z-index: 21;
    top: 20px;
    left: 365px;
    width: 17px;
    height: 17px;
    background-position: -257px -86px;
    background-image: url(../images/jd/icons2.png);
    background-repeat:no-repeat;
    background-color:transparent;
}
#store_tabs {
    position:relative;
    z-index:10;
    width: 100%;
    height: 26px;
    float: left;
    border-bottom: 2px solid #edd28b;
    overflow: visible;
}
#store_tabs li {
    padding: 0 20px 0 10px;
    background-color: #fff;
    height: 25px;
    float:left;
    color: #005aa0;
    cursor:pointer;
    line-height:22px;
    position:relative;
    border: 1px solid #ddd;
    border-bottom: 0;
    margin-right:3px;
}
#store_tabs li.hover {
    border: 2px solid #edd28b;
    border-bottom: 2px solid #fff;
    line-height: 22px;
    color: #005aa0;
    z-index:20;
}
#store_tabs li b {
    position: absolute;
    right: 4px;
    top: 10px;
    display: block;
    width: 7px;
    height: 5px;
    overflow: hidden;
    background-position: 0 -35px;
    /*background-image: url(images/iconlist_5.png);*/
    background-repeat: no-repeat;
}
#store_tabs li.hover b {
    background-position: 0 -28px;
}
#store_items {
    padding-top:30px;
    padding-left:10px;
}
#store_items li {
    line-height:38px;
    float:left;
    width:80px;
    cursor:pointer;
    color:#005aa0;
    padding: 2px 0 2px 15px;
}
 #store_items li a {
    color: #005aa0;
    padding:2px 4px;
}
#store_items li a:hover {
    background-color:#005aa0;
    color:#fff;
    text-decoration:underline;
}
#close{
    width:20px;
    height:20px;
    border-radius:50%;
    background:#727374;
    color:#fff;
    position:absolute;
    right:-10px;
    top:-10px;
    text-align:center;
    line-height:20px;
    cursor:pointer;
}

/* 左侧浮动栏相关分类 */
#left_product {
    float: left;
    width: 210px;
}

#left_product div>p {
    border: 1px solid #ddd;
    height: 28px;
    line-height: 28px;
    font: 14px/30px 'microsoft yahei';
    background-color: #f7f7f7;
    font-weight: 400;
    padding: 0 8px;
    font-size: 14px;
}
#left_product ul.m_content {
    border: 1px solid #ddd;
    border-top: 0;
    overflow: hidden;
    padding: 4px 2px 4px 6px;
}
#related_sorts, {
    margin-bottom: 10px;
    overflow:hidden;
}

#related_sorts li {
    float: left;
    width: 94px;
    height: 18px;
    padding: 3px 6px 3px 0;
    overflow: hidden;
}

#related_sorts li a {
    color: #666;
}

#related_sorts li a:hover {
    color: #BD2A2C;
}

 /*右侧的产品详细*/
#product_detail {
    position:relative;
    padding-top: 2px;
    margin-bottom: 10px;
}
 /*页签*/
ul.main_tabs {
    padding:0px;
    border-bottom: 1px solid #ddd;
}
.main_tabs li {
    float:left;
    text-align:center;
    cursor:pointer;
}

.main_tabs li.add {
    border: 1px solid #ddd;
    width: 1126px;
    border-left: none;
    text-align: left;
    background-color: #F7F7F7;
}

.main_tabs li a {
    height: 30px;
    line-height: 28px;
    font: 14px/30px 'microsoft yahei';
    font-weight: 400;
    padding:0 13px;
}
.main_tabs li.current {
    height:34px;
    color: #e4393c;
    background-color: #fff;
    margin-top: -6px;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 2px solid #e4393c;
}
.main_tabs li.current a {
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    color: #e4393c;
}

/*商品介绍*/
ul.detail_list {
    padding: 8px;
    border:1px solid #DEDFDE;
    border-width: 0 1px 1px;
    overflow: hidden;
}
ul.detail_list li {
    float: left;
    width: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 0;
}
.detail_content {
    text-align:center;
    padding-top:10px;
}
.detail_content>div {
    width: 1210px;
}
/*虚线分隔线，京东分隔线*/
.dotted_split,.jd_split {
    overflow: hidden;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px dashed #e6e6e6;
    line-height: 23px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin:0px auto;
    margin-bottom:10px;
    text-align: left;
    color: #666;
}

.jd_split b{
    color: #E4393C;
}

/*页脚*/
#foot-box {
    height:173px;
    border-top:1px #DDD solid;
    border-bottom:1px #F1F1F1 solid;
    margin-top:25px;
    background: #FFF;
    color: #666;
    font-size: 14px;
}
#foot-box a {
    font-size: 12px;
    color: #666;
}

#foot-box p {
    display:inline-block;
    width:40px;
    height:40px;
    float:left;
    margin:5px 5px 0px 55px;
}

#foot-box ul {
    width:140px;
    float:left;
 }

 #foot-box ul li {
    line-height:22px;
 }

 #foot-box ul li b {
    font-weight:bold;
    line-height:30px;
 }

#foot-box a:hover {color:#ff0700;}

#footer {
    height:180px;
    text-align:center;
    font-size:12px;
    margin:22px auto;
}

.copyright {
    width:900px;
    margin:0px auto;
    margin-top:12px;
    line-height:20px;
}
.links a {
    margin:0px 10px;
}
.footer-img {
    margin:12px auto;
    width:999px;
    text-align: center;
}
.footer-img a {
    margin:10px 12px;
    float:left;
}

#footer a {
    color: #666;
}

#footer a:hover {color:#ff0700;}