* {
	margin: 0;
	padding: 0;
	font-family: 微软雅黑;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}



header {
	background-color: #333;
	width: 100%;
    height: 40px;
    color: #b0b0b0;
    font-size: 12px;
}

header a {
	color: #b0b0b0;
}

header a:hover {
	color: #fff;
}

header .header {
	width: 1226px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
}

.header .sep {
	margin: 0.5em;
	color: #484848;
}

#header-left {
	float: left;
	line-height: 40px;
}

#header-right {
	float: right;
	line-height: 40px;
}

#header-right .header-right-link {
	float: left;
}

#header-right .header-right-cart {
	float: right;
	margin-left: 20px;
	padding-right: 12px;
	background-color: #424242;
}

.header-right-cart img {
	display: block;
	margin-top: 12px;
	float: left;
}

.cart-content {
	margin-left: -100px;
	margin-top: 40px;
	position: absolute;
	background-color: #fff;
	width: 0;
	height: 0;
}



nav {
	margin: 0 auto;
}

#mainnav {
	width: 1226px;
	margin: 0 auto;
}

#mainnav .mainnav-img img{
	float: left;
	display: block;
}

#mainnav .mainnav-img #logo {
	margin-right: 12px;
	margin-top: 20px;
}

#mainnav .mainnav-img #gif {
	margin-top: 17px;
}

#mainnav #menu {
	float: left;
	height: 100%;
}

#mainnav #menu ul li {
	float: left;
	line-height: 95px;
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
}

#mainnav #menu ul li a {
	color: #000;
}

#mainnav #menu ul li a:hover {
	color: #ff6700;
}

#mainnav #search {
	float: right;
	width: 280px;
	height: 50px;
	margin-top: 25px;
	line-height: 50px;
	border: 1px solid #f0f0f0;
}

#mainnav #search #search-text {
	display: block;
	float: left;
	width: 220px;
	height: 30px;
	margin-top: 10px;
	border: none;
	outline: none;
}

#mainnav #search .search-btn {
	width: 59px;
	height: 50px;
	float: left;
	font-size: 30px;
	font-weight: bold;
	color: #424242;
	text-align: center;
	border-left: 1px solid #f0f0f0;
	cursor: pointer;
	transition: all 3s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
}

#use-clear {
	clear: both;
}

#subnav {
	overflow: hidden;
	z-index: 999;
	width: 100%;
	position: absolute;
	height: 0;
	background-color: #fff;
	transition: all 2s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
}

#subnav ul {
	position: absolute;
	width: 100%;
	height: auto;
    color: #424242;
    display: block;
}

#subnav ul li {
	width: 100%;
	height: 250px;
	display: none;
}

.submenu img {
	width: 160px;
	height: 110px;
}

#subnav ul li .submenu {
	float: left;
	width: 180px;
	cursor: pointer;
	margin-top: 30px;
}

#subnav ul li .submenu p {
	font-size: 13px;
	text-align: center;
	margin-top: 20px;
	margin-right: 20px;
}

#subnav ul li .submenu-sep {
	width: 0;
	height: 100px;
	float: left;
	margin: 35px 20px;
	padding-left: 15px;
	border-left: 1px solid #d0d0d0;
}


#banner {
	position: relative;
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	color: #424242;
}

#banner #banner-menu {
	width: 235px;
	height: 100%;
	float: left;
	background-color: #616161;
	z-index: 660;
	position: absolute;
}

#banner #banner-menu #banner-menu-top {
	margin-top: 20px;
}

#banner #banner-menu li {
	width: 100%;
	height: 42px;
	transition : all 3s;
	-webkit-transition: all .2s;
	-moz-transition: all .3s;
    -ms-transition: all .3s;
    line-height: 42px;
	cursor: pointer;
}

#banner #banner-menu li a {
	font-size: 14px;
	color: #fff;
	margin-left: 30px;
	float: left;
}

#banner #banner-menu .banner-subbanner {
	float: right;
	font-size: 18px;
	margin-right: 20px;
}

#banner #banner-menu .subbanner{
	z-index: 999;
	position: absolute;
}

#subbanner1 {
	width: 600px;
	top: -1px;
}

#subbanner2 {
	width: 300px;
	top: -1px;
}

#subbanner3 {
	width: 900px;
	top: -1px;
}

#subbanner4 {
	width: 900px;
	top: -1px;
}

#subbanner5 {
	width: 600px;
	top: -1px;
}

#subbanner6 {
	width: 900px;
	top: -1px;
}

#subbanner7 {
	width: 300px;
	top: -1px;
}

#subbanner8 {
	width: 300px;
	top: -1px;
}

#subbanner9 {
	width: 300px;
	top: -1px;
}

#subbanner10 {
	width: 600px;
	top: -1px;
}

.subbanner {
	width: 600px;
	height: 459px;
	display: none;
	position: absolute;
	left: 235px;
	z-index: 666;
	background-color: #fff;
}

.subbanner .subbanner-menu {
	float: left;
	width: 280px;
}

.subbanner .subbanner-menu li {
	width: 250px;
	height: 40px;
	padding: 18px;
	float: left;
}

#banner #banner-menu .subbanner .subbanner-menu li a {
	margin-left: 5px;
	font-size: 12px;
	color: #424242;
}

.subbanner .subbanner-menu li span {
	width: 59px;
	height: 25px;
	float: right;
	margin-top: 5px;
	border: 1px solid #ff6700;
	color: #ff6700;
	line-height: 24px;
	font-size: 13px;
	text-align: center;
	transition: all 3s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
}

.subbanner .subbanner-menu li span:hover {
	background: #ff7600;
	color: #fff;
}

#banner #banner-img {
	width: 1226px;
	height: 460px;
	position: absolute;
	overflow: hidden;
	z-index: -1;
}

#banner #banner-img #banner-subimg {
	width: 6130px;
	height: 430px;
	position: absolute;
	float: left;
}

#banner #banner-img #banner-subimg li {
	width: 1226px;
	height: 460px;
	float: left;
	cursor: pointer;
}

#banner #banner-img-btn {
	width: 961px;
	height: 460px;
	position: absolute;
	top: 0;
	left: 250px;
	color: #838383;
}

#banner #banner-img-btn div {
	transition: all 3s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
}

#banner #banner-img-btn div:hover {
	background-color: #797979;
	cursor: pointer;
	color: #fff;
}

#banner #banner-img-btn #banner-img-btn1 {
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 195px;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
}

#banner #banner-img-btn #banner-img-btn2 {
	width: 50px;
	height: 50px;
	float: right;
	margin-top: 195px;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
}

#pics {
	width: 1226px;
	margin: 0 auto;
	margin-top: 20px;
	height: 170px;
}
#pics #left-pic {
	width: 235px;
	float: left;
}

#pics #left-pic ul {
	width: 235px;
	height: 85px;
}

#pics #left-pic ul li{
	float: left;
}

#pics #left-pic img {
	vertical-align: bottom;
}

#pics #right-pic {
	float: right;
}

#pics #right-pic img{
	float: left;
	width: 316px;
	height: 170px;
	margin-left: 14px;
}

#pics #right-pic .right-pic-shadow:hover {
	box-shadow: 0px 15px 20px  #e1e1e1;
	transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	-o-transition: .3s;
}

#star {
	width: 1226px;
	margin: 0 auto;
	margin-top: 20px;
	color: #363636;
}

#star #star-head {
	width: 1226px;
	height: 60px;
	line-height: 60px;
}

#star #star-head h2 {
	font-weight: normal;
	display: inline;
}

#star #star-change {
	float: right;
	width: 102px;
	height: 25px;
	margin-top: 20px;
	border: 1px solid #f0f0f0;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #bebebe;
}

#star #star-change #star-change-btn1 {
	width: 50px;
	height: 25px;
	float: left;
	font-size: 20px;
	border-right: 1px solid #f0f0f0;
}

#star #star-change #star-change-btn2 {
	width: 50px;
	height: 25px;
	float: right;
	font-size: 20px;
}

#star #star-img {
	width: 1226px;
	height: 375px;
	overflow: hidden;
	position: relative;
}

#star #star-img ul {
	width: 2500px;
	height: 330px;
	position: absolute;
	overflow: hidden;
	left: 0;
	transition: all 3s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
    -ms-transition: all 1s;
}

#star #star-img ul li {
	width: 237px;
	height: 330px;
	float: left;
	padding-top: 40px;
	margin-right: 10px;
	background-color: #fafafa;
	border-top: 1px solid #fff;
	text-align: center;
}

#star #star-img ul li img {
	width: 160px;
	height: 160px;
}

#star #star-img a {
	display: block;
	text-align: center;
	cursor: default;
}

#star #star-img ul li .star-name {
	margin-top: 20px;
	font-size: 14px;
	color: #000;
	cursor: pointer;
}

#star #star-img ul li .star-config {
	margin-top: 5px;
	font-size: 12px;
	color: #b0b0b0;
}

#star #star-img ul li .star-price {
	margin-top: 20px;
	font-size: 13px;
	color: #ff6700;
}

#show {
	width: 100%;
	background-color: #f5f5f5;
	padding-bottom: 80px;
	padding-top: 45px;
	height: 650px;
}

#show #hardware-title {
	width: 1226px;
	margin: 0 auto;
	height: 35px;
}

#show #hardware-title h2 {
	font-weight: normal;
	color: #424242;
}

#show #hardware-show {
	width: 1226px;
	margin: 0 auto;
}

#show #hardware-show ul li:first-child {
	width: 234px;
	height: 615px;
	margin-left: 0;
}

#show #hardware-show ul li {
	width: 234px;
	height: 300px;
	position: relative;
	margin-left: 14px;
	margin-top: 10px;
	float: left;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
	transition: all 2s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
}

#show #hardware-show ul li .hardware-top {
	width: 234px;
	height: 184px;
}

#show #hardware-show ul li .hardware-img {
	width: 234px;
	height: 160px;
}

#show #hardware-show ul li .hardware-img img{
	width: 160px;
	height: 160px;
	margin-top: 10px;
}

#show #hardware-show ul li a {
	display: block;
	cursor: default;
}

#show #hardware-show ul li .hardware-name {
	margin-top: 15px;
	font-size: 14px;
	color: #000;
	cursor: pointer;
}

#show #hardware-show ul li .hardware-config {
	margin-top: 5px;
	font-size: 12px;
	color: #b0b0b0;
}

#show #hardware-show ul li .hardware-price {
	margin-top: 15px;
	font-size: 13px;
	color: #ff6700;
}

#show #hardware-show ul li .hardware-flag1 {
	position: relative;
	margin:0 auto;
	width: 64px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	background-color: #ff6700;
	color: #fff;
}

#show #hardware-show ul li .hardware-flag2 {
	position: relative;
	margin:0 auto;
	width: 64px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	background-color: #83c44e;
	color: #fff;
}

#show #hardware-show ul li .hardware-flag3 {
	position: relative;
	margin:0 auto;
	width: 64px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	background-color: #2196f3;
	color: #fff;
}

#show #hardware-show ul li:hover{
	top: -2px;
	box-shadow: 0px 12px 18px #e0e0e0;
}

#foot-top {
	width: 1226px;
	margin: 0 auto;
}

#foot-top ul {
	border-bottom: 1px solid #e0e0e0;
	height: 75px;
}

#foot-top .foot-top-li {
	float: left;
	height: 25px;
	margin: 25px 0;
	width: 19%;
	line-height: 25px;
	width: 19.8%;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}

#foot-top .foot-top-li a {
	font-size: 16px;
	color: #616161;
}

#foot-top .foot-top-li a:hover {
	color: #ff6700;
}

#foot-top .extra {
	border: none;
}

#foot-mid {
	width: 1226px;
	margin: 50px auto;
}

#foot-mid #foot-mid-left {
	float: left;
}

#foot-mid #foot-mid-left dl {
	float: left;
	width: 50px;
	height: 112px;
	margin-right: 109px;
}

#foot-mid #foot-mid-left dl dt {
	width: 60px;
	line-height: 1.25;
	margin-bottom: 26px;
	font-size: 14px;
	color: #424242;
}

#foot-mid #foot-mid-left dl dd {
	margin: 10px 0 0;
	font-size: 12px;
	color: #757575;
	cursor: pointer;
}

#foot-mid #foot-mid-left dl dd:hover {
	color: #ff6700;
}

#foot-mid #foot-mid-right {
	float: right;
	border-left: 1px solid #e0e0e0;
	width: 240px;
	padding-left: 13px;
	text-align: center;
}

#foot-mid #foot-mid-right a {
	display: block;
}

#foot-mid #foot-mid-right a:nth-child(1) {
	font-size: 22px;
	color: #ff6700;
	margin-bottom: 10px;
	font-family: consolas;
}

#foot-mid #foot-mid-right a:nth-child(2) {
	font-size: 13px;
	margin-bottom: 5px;
}

#foot-mid #foot-mid-right a:nth-child(3) {
	font-size: 13px;
	margin-bottom: 15px;
}

#foot-mid #foot-mid-right span {
	margin-left: 68px;
	display: block;
	width: 100px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	border: 1px solid #ff6700;
	text-align: center;
	color: #ff6700;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	cursor: pointer;
}

#foot-mid #foot-mid-right span:hover {
	color: #fff;
	background-color: #ff6700;
}

#foot-bottom {
	background-color: #f5f5f5;
	height: 135px;
	padding: 30px 0;
}

#foot-bottom-box {
	width: 1226px;
	margin: 0 auto;
}

#foot-bottom-left {
	width: 1226px;
	margin: 0 auto;
}

#foot-bottom-left img {
	float: left;
	margin-right: 10px;
}

#foot-bottom ul {
	float: left;
	font-size: 12px;
	color: #757575;
}

#foot-bottom ul li {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

#foot-bottom ul span {
	float: left;
	margin: 0 0.25em;
}

#foot-bottom ul li:hover {
	color: #ff6700;
}

#foot-bottom p {
	width: 770px;
	font-size: 12px;
	color: #b0b0b0;
	height: 18px;
	line-height: 18px;
	text-indent: 3px;
}

#foot-bottom-right {
	float: right;
	height: 28px;
	width: 330px;
	padding: 4px 0;
}

#foot-bottom-right img {
	cursor: pointer;
	margin-left: 20px;
}

#foot-bottom-last {
	clear: both;
	margin: 45px auto;
	width: 267px;
	height: 19px;
	background: url(../images/mi/last.png) center;
}